header {
	margin-top: 50px;
	.logoWrap {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 90%;
			max-width: 585px;
		}
	}
}


// font-family: 'Minion Pro Semibold Italic';

.socalWrap {
	margin-top: 50px;
	.btnWrap {
		.socialBtn {
			display: block;
			font-family: 'Minion Pro Semibold';
			color: #333;
			text-align: center;
		}
	}	
}